@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel:wght@600&family=Dancing+Script:wght@400;500&family=Pacifico&family=Playfair+Display:ital,wght@1,400;1,500;1,600&family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1230px;
  margin: auto;
}

header {
  display: flex;
  z-index: 999;
  background-color: #202020;
}
header .general-nav {
  background-color: #202020;
}
header .general-nav img {
  margin-right: 64px;
}
header .general-nav li {
  margin-right: 40px;
}
header .general-nav li a {
  color: white;
}
header .general-nav button {
  width: 128px;
  height: 44px;
  left: 1045px;
  top: 4.5px;
  margin-left: 80px;
  background: #FF3839;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  border: none;
}

.one {
  position: relative;
}
.one .firstim {
  position: absolute;
  background-color: #202020;
  width: 1440px;
  height: 850px;
  mix-blend-mode: luminosity;
}
.one .texts {
  position: absolute;
}
.one .texts .text1 {
  width: 786px;
  height: 28px;
  left: 327px;
  top: 279px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-top: 184px;
}
.one .texts .text1 span {
  color: #FF3839;
}
.one .texts .text2 {
  width: 787px;
  height: 180px;
  left: 326px;
  top: 321px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 128.5%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.one .texts hr {
  width: 563px;
  height: 0px;
  left: 527px;
  top: 505px;
  border: 2px solid #FF3839;
  margin-left: 178px;
}
.one .texts .text3 {
  width: 786px;
  height: 59px;
  left: 327px;
  top: 523px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.one .texts .but1 {
  width: 181px;
  height: 48px;
  background: #FF3839;
  border-radius: 5px;
  left: 33.7%;
  right: 34.25%;
  top: 25%;
  bottom: 25%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  border: none;
  margin-left: 192px;
}
.one .texts .but2 {
  width: 181px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 5px;
  left: 18.23%;
  right: 18.78%;
  top: 25%;
  bottom: 25%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #202020;
  border: none;
  margin-left: 19px;
}

.two .photo {
  position: relative;
}
.two .photo .secondim {
  position: absolute;
}
.two .photo .thirdim {
  position: absolute;
  margin-left: 234px;
  margin-top: 186px;
}/*# sourceMappingURL=main.css.map */